@import './app/scss/colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

* {
  box-sizing: border-box;

  transition:
    background-color 0.25s ease,
    color 0.05s ease;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

h2 {
  font-weight: 500;
  margin: 0;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px $c-whitish-1;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  padding: 5px 10px;
  text-align: center;
}

button {
  background-color: transparent;
  border: solid 1px $c-whitish-1;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  padding: 5px 10px;
  text-align: center;
  transition: all 0.15s ease;
  cursor: pointer;

  &:hover {
    background-color: $c-whitish-1;
    color: $c-background;
  }
}

.center-inner {
  width: 100%;
  height: 100%;
  display: flex;

  > * {
    margin: auto;
  }
}

.light {
  background-color: white !important;
  color: $c-background !important;

  & .hover-background {
    &:hover {
      background-color: rgba(black, 0.2);
    }
  }

  & img {
    filter: invert(1);
  }

  & .nav-background {
    background-color: $c-background;
  }
}

.ignore-filter {
  filter: none !important;
}

.nav-background {
  background-color: white;
}

.hover-background {
  &:hover {
    background-color: $c-whitish-3;
  }
}
