<div class="container">
  <div class="nav-background">
    <a (click)="onActivate('home')" title="Home">
      <img width="26" height="26" src="/assets/home.svg" />
    </a>
    <a (click)="onActivate('profile')" title="Profile">
      <img width="26" height="26" src="/assets/profile.svg" />
    </a>
    <a (click)="onActivate('themeswitch')" title="Switch Theme">
      <img width="26" height="26" src="/assets/moon.svg" />
    </a>
    <a (click)="onActivate('logout')" title="Logout">
      <img width="26" height="26" src="/assets/logout.svg" />
    </a>
  </div>
</div>
