@import '../../scss/colors.scss';

@keyframes anim {
    0% { opacity: 0.05; }
   50% { opacity: 0.2; }
  100% { opacity: 0.05; }
}

.tile {
  opacity: 0;
  animation: anim 1.2s ease infinite;
  background-color: currentColor;
}
