<div class="center-inner">
  <div>
    <div class="title-bar">
      <app-edit-tile
        [readonly]="true"
        content="My Lists"
        padding="12px"
        fontSize="30px"
      ></app-edit-tile>
    </div>
    <div class="lists-container">
      <ng-template [ngIf]="!lists">
        <div *ngFor="let i of [0, 1, 2]">
          <app-skeleton-tile [delay]="i * 0.1 + 's'" height="45px"></app-skeleton-tile>
        </div>
      </ng-template>
      <div *ngFor="let l of lists" class="hover-background">
        <app-edit-tile
          [(content)]="l.name"
          [isEditing]="l.isNew"
          padding="5px 10px"
          fontSize="24px"
          textAlign="left"
          [border]="false"
          (contentChange)="onRename(l)"
          (activate)="onListClick(l)"
          (remove)="onDelete(l)"
        ></app-edit-tile>
      </div>
      <div class="add-list-tile hover-background" (click)="onNew()">
        <span>+ ADD LIST</span>
      </div>
    </div>
  </div>
</div>
